*.diff
*.orig
*.patch
*.rej
*.eps
*.o
*.pyc
*.pyo
FecRouter.*
*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

testpy-output

bindings/python/pybindgen/
__pyach__/
ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project
2022*/
Data \processing/
memo.md
memo.pdf
*.sh
version.cache
package-lock.json
*.pl

